

body {
  background-color: #313338;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}

.groups {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
  width: 72px;
  height: 100vh;
  background-color:#1E1F22 ;
}

.group-chats-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100vh;
  background-color:#292B2F ;
}

.users-section {
  width: 240px;
  height: 100vh;
  background-color: #292B2F;
}

.discord {
  display: flex;
  width: 100%;
}

.chat-section {
  width: 100%;
}

.group {
  width: 100%;
  display: flex;
}

.groups__group-logo {
  max-width:100%;
  margin-top: 10px;
  width:48px;
  height: 48px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.3s;

}

.groups__group-logo:hover {
  border-radius:10px;
}

.group-chats-section__chats__chat {
  display: flex;
  width: 220px;
  align-items: center;
  font-size: 18px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 6px;
  padding-left: 5px;
  user-select: none;
  cursor: pointer;
  color: #b1c8cb;
}

.group-chats-section__chats__chat:hover {
  background-color: #ffffff16;
  border-radius: 5px
}

.status-zone {
  width: 100%;
  height: 56px;
  background-color: #232428;
}